<h1>Listing News posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
<%= for post <- @news_posts do %>
    <tr>
      <td><%= link post.title, to: Routes.post_path(@conn, :show, post) %></td>
      <td><%= post.summary %></td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Post", to: Routes.post_path(@conn, :new) %></span>
